@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
body{
    font-family: 'Roboto', sans-serif;
    background-image:linear-gradient(144deg, #ffffff, #d9faf8, #edf8f8);
    animation: backg 8s ease infinite;
    background-size: 600%, 600%;
}

@keyframes backg {
    0%{background-position:81% 0}
    50%{background-position:20% 100%}
    100%{background-position:81% 0}
}

h1 {
    text-align:center;
    left:auto;
    right:auto;
    color:#293133;
    font-weight:200;
    font-size: 400%;
}

h2 {
    text-align:center;
    color:#293133;
    font-weight:200;
    font-size: 200%;
}



#playbtn, #faqbtn {
    padding: 7% 15%;
    border-radius: 10px;
    font-size: 200%;
    font-weight: 100;
    color: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: 4px 2px 0 rgba(69,74,81,0.66) ;
}

#faqbtn{
    background: #5f6466;
}

#playbtn {
    background: #A9A9A9;
}

#game, #faq {
    display: none;
}

#game {
    padding-bottom: 2%;
}

#faq {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    padding: 1% 1% 0 0;
    text-align: center;
    align-items: center;
    left:auto;
    right:auto;
    top: 20%;
    bottom: 10%;

}

.zoom {
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

#playdiv {
    position: relative;
    float: left;
    left:30%;
    top:40%;
}

#faqdiv {
    position: relative;
    float: right;
    left:-32%;
    top:40%;
}

footer {
    position: fixed;
    float:bottom;
    color:aliceblue;
    text-align: center;
    align-content: center;
    background-color: darkgray;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom:0;
    font-size: 65%;
}

#triangle, #square, #pentagon {
    fill-opacity: 0.1;
    border: solid black 2px;
}

#triangle {
    position:absolute;
    float: top;
    top:0;
}